body {
            background-color: #000000;
            color: #ffffff;
        }
        .table-custom {
            background-color: #1a1a1a;
            color: #ffffff;
        }
        .table-custom thead {
            background-color: #2d2d2d;
        }
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: rgba(255, 255, 255, 0.05);
        }
        .btn-outline-custom {
            color: #ffffff;
            border-color: rgb(0, 0, 0);
        }
        .btn-outline-custom:hover {
            background-color: #ffffff;
            color: rgb(255, 255, 255);
        }
		.btn-outline-black {
		    color: rgb(0, 0, 0);
		    border-color: rgb(0, 0, 0);
		    background-color: transparent;
		}

		.btn-outline-black:hover {
		    background-color: rgb(42, 42, 42);
		    color: #1a1a1a;
		    border-color: rgb(0, 0, 0);
		}
		